---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import { getApod } from '../lib/nasa.ts'
import '../styles/pages/_apod.scss'

const { data, error } = await getApod()


---

<Layout title='Astronomy Picture of the Day by NASA'>
	<main>
		<section class='apod'>
			<a href='/'>&#8592; Go home</a>
			<div>
				<h1 class='text-2xl text-accent--500'>Astronomy Picture of the Day</h1>
				{error ? (
					<div class="error-message">
						<p>Sorry, we couldn't fetch the picture of the day. Please try again later.</p>
					</div>
				) : (
					<div>
						<h2 class='text-xl'>{data.title}</h2>
						<small>Copyrights: {data.copyright || 'NASA'}</small>
						<time datetime={data.date}>{data.date}</time>
						<a href={data.url} target='_blank' rel='noopener noreferrer'>
							{
								data.media_type === 'video' ? (
									<iframe src={data.url} title={data.title} />
								) : (
									<Image
										src={data.url}
										alt={`${data.title}, ${data.copyright || 'NASA'}`}
										inferSize={true}
									/>
								)
							}
						</a>
						<p>{data.explanation}</p>
					</div>
				)}
			</div>
		</section>
	</main>
</Layout>
