---
interface Props {
	height?: number
	width?: number
}

const { height = 8, width = 8 }: Props = Astro.props

const list = [
	{
		id: 'JavaScript',
		url: '/icons/javascript-icon.svg',
	},
	{
		id: 'TypeScript',
		url: '/icons/typescript-icon.svg',
	},
	{
		id: 'Node',
		url: '/icons/node-icon.svg',
	},
	{
		id: 'React',
		url: '/icons/react-icon.svg',
	},
	{
		id: 'NextJS',
		url: '/icons/nextjs-icon.svg',
	},
	{
		id: 'Golang',
		url: '/icons/golang-icon.svg',
	},
	{
		id: 'Electron',
		url: '/icons/electron-icon.svg',
	},
	{
		id: 'Hugo',
		url: '/icons/hugo-icon.svg',
	},
	{
		id: 'Astro',
		url: '/icons/astro-icon.svg',
	},
	{
		id: 'Netlify',
		url: '/icons/netlify-icon.svg',
	},
	{
		id: 'Vercel',
		url: '/icons/vercel-icon.svg',
	},
	{
		id: 'Jest',
		url: '/icons/jest-icon.svg',
	},
	{
		id: 'Cypress',
		url: '/icons/cypress-icon.svg',
	},
	{
		id: 'Cloudflare',
		url: '/icons/cloudflare-icon.svg',
	},
	{
		id: 'Google Cloud Platform',
		url: '/icons/gcp-icon.svg',
	},
	{
		id: 'VSCode',
		url: '/icons/vscode-icon.svg',
	},
]

const quantity = list.length
---

<div
	class='scroller'
	style={`--height: ${height}rem;--width: ${width}rem; --quantity: ${quantity}`}>
	<ul>
		{
			list.map((item, i) => (
				<li style={`--position: ${i}`}>
					<img src={item.url} alt={item.id} width={128} height={128} title={item.id} />
				</li>
			))
		}
	</ul>
</div>
